# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=minecraftmods-mdismailzzz02-ef1d.l.aivencloud.com
DB_USER=avnadmin
DB_PASSWORD=your_password_here
DB_NAME=student_portal
DB_PORT=22894
